<div class="text-left col-sm-4 col-sm-offset-4 well">
  <form action="/users" method="post">
    <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="users[username]"><br>
    </div>
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="users[email]"><br>
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="users[password]"><br>
    </div>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>
